.question {
    margin-bottom: 20px;
  }
  
  .question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .question-header:hover {
    background-color: #e0e0e0;
  }
  
  .question-header h2 {
    margin: 0;
  }
  
  .question-header span {
    font-size: 14px;
    transition: transform 0.2s ease-in-out;
  }
  
  .question p {
    /* display: none; */
    padding: 10px;
    background-color: #ffffff;
  }
  
  .question.active p {
    display: block;
  }
  